<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Text Generator with Markov Chain </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div>
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>

            <tr>
                <td>
                    <label>Prefix</label>

                </td>
                <td>
                    <input type="text" name="prefix">
                </td>
            </tr>

            <tr><td>
            <label>Output Size</label>
            </td>
                <td>
            <input type="text" name="outputSize">
                </td>
            </tr>

            <tr>
                <td>
            <button type="submit" name="addParams"> Generate </button>
                </td>
            </tr>
        </table>
    </form>
</div>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>


</body>
</html>